.ProductLi button {
    background-color: cornflowerblue;
    border: none;
    border-radius: 2px;
    margin: 5px;
    color: white;
    min-width: 20px;
    min-height: 20px;
}

.ProductLi .Disabled {
    background-color: #a6a9ad;
    color: gray;
}

.ProductLi .Disabled:hover {
    cursor: not-allowed;
}

.ProductLi button:hover {
    cursor: pointer;
}

